<section class="blog_area single-post-area p_120">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <center>
          <h1>
            Welcome Admin
          </h1>
        </center>
        <br />
        <br />
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              data-toggle="pill"
              href="#pills-new-users"
              role="tab"
              aria-controls="pills-home"
              aria-selected="true"
            >
              New Users
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="pill"
              href="#pills-deleted-users"
              role="tab"
              aria-controls="pills-profile"
              aria-selected="false"
            >
              Deleted Users
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="pill"
              href="#pills-notified-users"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
            >
              Notified Users
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="pill"
              href="#pills-add-talent"
              role="tab"
              aria-controls="pills-add-talent"
              aria-selected="false"
            >
              Add a Talent
            </a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="pills-new-users"
            role="tabpanel"
            aria-labelledby="pills-new-users-tab"
          >
            <h4>
              New users :
            </h4>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">
                    Name
                  </th>
                  <th scope="col">
                    Email
                  </th>
                  <th scope="col">
                    Mobile
                  </th>
                  <th scope="col">
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <div>
                  {{#each allusers}}
                    <tr>
                      <td>
                        {{this.s_name}}
                      </td>
                      <td>
                        {{this.email}}
                      </td>
                      <td>
                        {{this.mobile}}
                      </td>
                      <td>
                        <a
                          href="admin/all_user/more/{{this.s_p_id}}"
                          class="btn btn-outline-success"
                        >
                          VIew more..
                        </a>
                      </td>
                    </tr>
                  {{/each}}
                </div>
              </tbody>
            </table>
          </div>
          <div
            class="tab-pane fade"
            id="pills-deleted-users"
            role="tabpanel"
            aria-labelledby="pills-deleted-users-tab"
          >
            <h4>
              Deleted users :
            </h4>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">
                    #
                  </th>
                  <th scope="col">
                    First
                  </th>
                  <th scope="col">
                    Last
                  </th>
                  <th scope="col">
                    Handle
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    1
                  </th>
                  <td>
                    Mark
                  </td>
                  <td>
                    Otto
                  </td>
                  <td>
                    @mdo
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    2
                  </th>
                  <td>
                    Jacob
                  </td>
                  <td>
                    Thornton
                  </td>
                  <td>
                    @fat
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    3
                  </th>
                  <td colspan="2">
                    Larry the Bird
                  </td>
                  <td>
                    @twitter
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            class="tab-pane fade"
            id="pills-notified-users"
            role="tabpanel"
            aria-labelledby="pills-notified-users-tab"
          >
            <h4>
              Notified users :
            </h4>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">
                    #
                  </th>
                  <th scope="col">
                    First
                  </th>
                  <th scope="col">
                    Last
                  </th>
                  <th scope="col">
                    Handle
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    1
                  </th>
                  <td>
                    Mark
                  </td>
                  <td>
                    Otto
                  </td>
                  <td>
                    @mdo
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    2
                  </th>
                  <td>
                    Jacob
                  </td>
                  <td>
                    Thornton
                  </td>
                  <td>
                    @fat
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    3
                  </th>
                  <td colspan="2">
                    Larry the Bird
                  </td>
                  <td>
                    @twitter
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            class="tab-pane fade"
            id="pills-add-talent"
            role="tabpanel"
            aria-labelledby="pills-add-talent-tab"
          >
            <h2>
              add a new talent
            </h2>
            <form action="#" method="post">
              <div class="mt-10">
                <div class="row">
                  <div class="col-lg-2 col-md-2">
                    <label>
                      Talent Main Category
                    </label>
                  </div>
                  <div class="col-lg-10 col-md-10">
                    <input
                      type="text"
                      name="mtname"
                      placeholder="User Name"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'First Name'"
                      required
                      class="single-input"
                     />

                  </div>
                </div>
              </div>
              <div class="mt-10">
                <div class="row">
                  <div class="col-lg-2 col-md-2">
                    <label>
                      Description
                    </label>
                  </div>
                  <div class="col-lg-10 col-md-10">
                    <input
                      type="text"
                      name="mtdescription"
                      placeholder="Password"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Password'"
                      required
                      class="single-input"
                     />

                  </div>
                </div>
              </div>
              <div class="mt-10">
                <button
                  style="float: center;"
                  type="submit"
                  class="genric-btn info-border circle arrow"
                >
                  Add Talent
                  <span class="lnr lnr-arrow-right"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>