<div class="whole-wrap">
  <div class="container">
    <div class="section-top-border">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <h3 class="mb-30 title_color">
            Telent From
          </h3>
           <form action="/thiredadd" method="post">
            
            <div class="input-group-icon mt-10">
             <div class="row">
              <div class="col-lg-2 col-md-2">
              <label> Main Category </label>
              </div>
              <div class="col-lg-10 col-md-10">
              <div class="form-select" id="default-select">
                <select name="name">
                  <option value="1">
                    Main Category
                  </option>
                  <option value="1">
                    Art
                  </option>
                  <option value="1">
                    IT
                  </option>
                  <option value="1">
                    Construction
                  </option>
                  <option value="1">
                    Food
                  </option>
                </select>
              </div>
            </div>
            </div>
            </div>
            <div class="input-group-icon mt-10">
              <div class="row">
              <div class="col-lg-2 col-md-2">
              <label> Sub Category </label>
              </div>
              <div class="col-lg-10 col-md-10">
              <div class="form-select" id="default-select">
                <select name="sub">
                  <option value="1">
                    Sub Category
                  </option>
                  <option value="1">
                    Graphic
                  </option>
                  <option value="1">
                    Web Design
                  </option>
                  <option value="1">
                    Programming
                  </option>
                  <option value="1">
                    Animations
                  </option>
                </select>
              </div>
            </div>
            </div>
            </div>
          
            <div class="mt-10" >
              <div class="row">
              <div class="col-lg-2 col-md-2">
              <label> Introduction </label>
              </div>
              <div class="col-lg-10 col-md-10">
              <textarea
                class="single-textarea"
                name="dis"
                placeholder="Discribtion About User Telent"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Discribtion About User Telent'"
                required
              ></textarea>
            </div>
            </div>
            </div>
            <div class="mt-10"  hidden>
             <input type="text" name="user" value={{user_id}}>
            </div>
            <div class="row">
              <div class="mt-10">
              <button
                type="submit"
                class="genric-btn primary-border circle arrow"
              >
                Sign In
                <span class="lnr lnr-arrow-right"></span>
              </button>
            </div>
              <div class="mt-10">
                <a
                  href="add_secound"
                  class="genric-btn info-border circle arrow"
                >
                  Add More Telent
                  <span class="lnr lnr-arrow-right"></span>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>