<!--================Talents Area =================-->
<section class="feature_area p_120">
  <div class="container">
    <div class="main_title">
      <h3>
        Services we povide for you
      </h3>
    </div>
    <div class="feature_inner row">
      {{#each main_talents}}
        <div class="col-lg-3 col-md-6 brand work">
          <div class="projects_item">
            <img class="img-fluid" src="img/projects/project-5.jpg" alt="" />
            <div class="projects_text">
              <a href="sub_category{{this.m_t_id}}">
                <h4>
                  {{this.m_t_name}}
                </h4>
              </a>
              <p>
                {{this.m_t_description}}
              </p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
<!--================End of Talents Area =================-->