<section class="blog_area single-post-area p_120">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 posts-list">
        <h1>service providers under selected sub category</h1>
        <div class="single-post row">
          <div class="col-lg-6 col-md-6">
            <div class="feature_item">
              <img src="img/team/sp-2.jpg" alt="" />
              <a href="#">
                <h3>
                  Architecture
                </h3>
              </a>
              <p>
                If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
        <div class="feature_item">
          <img src="img/team/sp-2.jpg" alt="" />
          <a href="#">
            <h3>
              Architecture
            </h3>
          </a>
          <p>
            If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="feature_item">
          <img src="img/team/sp-2.jpg" alt="" />
          <a href="#">
            <h3>
              Architecture
            </h3>
          </a>
          <p>
            If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="feature_item">
          <img src="img/team/sp-2.jpg" alt="" />
          <a href="#">
            <h3>
              Architecture
            </h3>
          </a>
          <p>
            If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="feature_item">
          <img src="img/team/sp-2.jpg" alt="" />
          <a href="#">
            <h3>
              Architecture
            </h3>
          </a>
          <p>
            If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="feature_item">
          <img src="img/team/sp-2.jpg" alt="" />
          <a href="#">
            <h3>
              Architecture
            </h3>
          </a>
          <p>
            If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.
          </p>
        </div>
      </div>
        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">
              Site Advertisements
            </h3>
            <div class="br"></div>
          </aside>
          {{!-- <aside class="single_sidebar_widget ads_widget">
            <a href="#">
              <img class="img-fluid" src="img/blog/add.jpg" alt="" />
            </a>
            <div class="br"></div>
          </aside> --}}
          <aside class="single_sidebar_widget ads_widget">
            <a href="#">
              <img class="img-fluid" src="img/blog/add.jpg" alt="" />
            </a>
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget ads_widget">
            <a href="#">
              <img class="img-fluid" src="img/blog/add.jpg" alt="" />
            </a>
            <div class="br"></div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>