<section class="blog_area single-post-area p_120">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 posts-list">
        <h1>service providers under selected sub category</h1>
        <div class="single-post row">
          {{#each rows}}
          <div class="col-lg-6 col-md-6">
            <div class="feature_item" style="">
              <div class="row">
                <div class="col-md-4">
                  <img src="{{this.image}}" alt="" height="75" width="75" />
                </div>
                <div class="col-md-8">
                  <p>
                    {{this.own_description}}
                  </p>
                </div>
                <a href="/provider_profile{{this.s_p_id}}">
                  <h3>
                    {{this.s_name}}
                  </h3>
                </a>
              </div>
            </div>
          </div>

          {{/each}}



        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">
              Site Advertisements
            </h3>
            <div class="br"></div>
          </aside>
          {{!-- <aside class="single_sidebar_widget ads_widget">
            <a href="#">
              <img class="img-fluid" src="img/blog/add.jpg" alt="" />
            </a>
            <div class="br"></div>
          </aside> --}}
          <aside class="single_sidebar_widget ads_widget">
            <a href="#">
              <img class="img-fluid" src="img/blog/add.jpg" alt="" />
            </a>
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget ads_widget">
            <a href="#">
              <img class="img-fluid" src="img/blog/add.jpg" alt="" />
            </a>
            <div class="br"></div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>