{{!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> --}}

<section class="blog_area single-post-area p_120">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 posts-list">
        <h3>Service Providers We Have For You</h3>
        <div class=" single-post row">
          {{#each rows}}
          <div class="col-lg-6 col-md-6">
            <div class="feature_item" style="">
              <div class="row">
                <div class="col-md-4">
                  <img  src="{{this.image}}" alt="" height="75" width="75" />
                </div>
                <div class="col-md-8">
                  <p>
                    {{this.own_description}}
                  </p>
                </div>
                <a href="/provider_profile{{this.s_p_id}}">
                  <h3>
                    {{this.s_name}}
                  </h3>
                </a>
              </div>
            </div>
          </div>

          {{/each}}

          

         



        </div>
         {{#if no_user}}
            <hr>
            <p><center><strong>No Registered Users</strong></center></p>
            <hr>
          {{/if}}
      </div>
      <div class="col-lg-4 ">
        <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">
              Site Advertisements
            </h3>
            <div class="br"></div>
          </aside>
          {{!-- <aside class="single_sidebar_widget ads_widget">
            <a href="#">
              <img class="img-fluid" src="img/blog/add.jpg" alt="" />
            </a>
            <div class="br"></div>
          </aside> --}}
          <aside class="single_sidebar_widget ads_widget">
            <center><a href="#">
              <img class="img-fluid" src="img/blog/add1.jpg" alt="" />
            </a></center>
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget ads_widget">
            <center><a href="#">
              <img class="img-fluid" src="img/blog/add2.jpg" alt="" />
            </a></center>
            <div class="br"></div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- <script>
var myIndex = 0;
//var myIndexs = 1;
carousel();
carousel1();
carousel2();


function carousel() {
  //console.log("buv11");
  var i;
  var x = document.getElementsByClassName("mySlides");
  //var y =x.length/2;
  for (i = 0; i <x.length; i++) {
    x[i].style.display = "none"; 
    // x[i+1].style.display = "none"; 

  }

  

  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block"; 
 
  setTimeout(carousel, 2500); 

 
  
}

function carousel1() {
  //console.log("buv11");
  var i;
  var x = document.getElementsByClassName("mySlidess");
  //var y =x.length/2;
  for (i = 0; i <x.length; i++) {
    x[i].style.display = "none"; 
    // x[i+1].style.display = "none"; 

  }

  

  myIndex++;
  if (myIndex > x.length) {myIndex = 2}    
  x[myIndex-1].style.display = "block"; 
  
 
  setTimeout(carousel1, 2500); 

 
  
}










</script> --}}