<div class="whole-wrap">
  <div class="container">
    <div class="section-top-border">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <h3 class="mb-30 title_color">
            Sign In
          </h3>
          <form action="/login" method="post">
            <div class="mt-10">
              <input
                type="text"
                name="user"
                placeholder="First Name"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'First Name'"
                required
                class="single-input"
               />

            </div>
            <div class="mt-10">
              <input
                type="password"
                name="password"
                placeholder="RE Password"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'RE Password'"
                required
                class="single-input"
               />

            </div>
            <div class="mt-10">
              <button
                type="submit"
                class="genric-btn primary-border circle arrow"
              >
                Sign In
                <span class="lnr lnr-arrow-right"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>