<div class="whole-wrap">
  <div class="container">
    <div class="section-top-border">
      <br/>
      
      <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-10 col-md-10">
          <div class="card" >
          <h3 class="mb-30 title_color" style="">
            <center>Change Password</center>
          </h3>
         
             
          
          <form action="/change_password_post" method="post">
          {{!-- {{#each users}}
            <div class="mt-10" >
              <div class="row">
              <div class="col-lg-2 col-md-2">
              <label>User Name</label>
              </div>
              <div class="col-lg-10 col-md-10">
              <input
                type="text"
                name="username"
                placeholder="New Password"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'New Password'"
                value={{this.u_name}}
                required
                class="single-input"
               />
                </div>
            </div>
            </div>
            {{/each}} --}}
            <div class="mt-10">
              <div class="row">
              <div class="col-lg-2 col-md-2">
              <label>Current Password</label>
              </div>
              <div class="col-lg-10 col-md-10">
              <input
                type="password"
                name="password"
                placeholder="Old Password"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Old Password'"
               
                class="single-input"
                 required
               />
               {{#if old_passworder}}
                      <p style="color:red">
                        {{this.old_passworder}}
                      </p>
                    {{/if}}
                </div>
                
            </div>
          </div>

            <div class="mt-10">
              <div class="row">
              <div class="col-lg-2 col-md-2">
              <label>New Password</label>
              </div>
              <div class="col-lg-10 col-md-10">
              <input
                type="password"
                name="new_password"
                placeholder="New Password"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'New Password'"
                required
                class="single-input"
               />
                </div>
            </div>
            </div>

            <div class="mt-10">
              <div class="row">
              <div class="col-lg-2 col-md-2">
              <label>Re Enter New Password</label>
              </div>
              <div class="col-lg-10 col-md-10">
              <input
                type="password"
                name="re_new_password"
                placeholder="Re Enter New Password"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Re Enter New Password'"
                required
                class="single-input"
               />
                {{#if re_new_passworder}}
                      <p style="color:red">
                        {{this.re_new_passworder}}
                      </p>
                    {{/if}}
                </div>
            </div>
               
            </div>
            <div class="mt-10">
              <button style="float: right;"
                type="submit"
                class="genric-btn info-border circle arrow"
              >
               Change 
                <span class="lnr lnr-arrow-right"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
